<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="biz.ajoshi.t1401654727.checkin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".LaunchActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="biz.ajoshi.t1401654727.checkin.provider.EventProvider"
            android:authorities="biz.ajoshi.t1401654727.eventprovider"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="biz.ajoshi.t1401654727.checkin.services.SWCheckinService"
            android:exported="false" />

        <receiver
            android:name="biz.ajoshi.t1401654727.checkin.alarm.receiver.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="biz.ajoshi.t1401654727.checkin.alarm.receiver.PreciseAlarmReceiver">
            <intent-filter>
                <action android:name="biz.ajoshi.t1401654727.receivers.WAKE_UP_IN_THIRTY" />
                <action android:name="biz.ajoshi.t1401654727.receivers.WAKE_UP_IN_TEN" />
                <action android:name="biz.ajoshi.t1401654727.receivers.WAKE_UP_IN_FIVE" />
                <action android:name="biz.ajoshi.t1401654727.receivers.WAKE_UP_IN_ONE" />
                <action android:name="biz.ajoshi.t1401654727.receivers.DONE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>